<!-- ia-translate: true -->
<div class="adev-footer-container">
  <div class="adev-footer-columns">
    <div>
      <h2>Redes Sociais</h2>
      <ul>
        <li>
          <a [href]="ngLinks.MEDIUM" title="Blog do Angular">Blog</a>
        </li>
        <li>
          <a [href]="ngLinks.X" title="X (antigo Twitter)">X (antigo Twitter)</a>
        </li>
        <li>
          <a [href]="ngLinks.BLUESKY" title="Bluesky">Bluesky</a>
        </li>
        <li>
          <a [href]="ngLinks.YOUTUBE" title="YouTube">YouTube</a>
        </li>
        <li>
          <a
            [href]="ngLinks.DISCORD"
            title="Participe das discussões no servidor Discord da comunidade Angular."
          >
            Discord
          </a>
        </li>
        <li>
          <a [href]="ngLinks.GITHUB" title="GitHub">GitHub</a>
        </li>
        <li>
          <a
            [href]="ngLinks.STACKOVERFLOW"
            title="Stack Overflow: onde a comunidade responde suas perguntas técnicas sobre Angular."
          >
            Stack Overflow
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Comunidade</h2>
      <ul>
        <li>
          <a
            href="https://github.com/angular/angular/blob/main/CONTRIBUTING.md"
            title="Contribuir para o Angular"
          >
            Contribuir
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/code-of-conduct/blob/main/CODE_OF_CONDUCT.md"
            title="Tratar uns aos outros com respeito."
          >
            Código de Conduta
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular/angular/issues"
            title="Publicar problemas e sugestões no GitHub."
          >
            Relatar Problemas
          </a>
        </li>
        <li>
          <a
            href="https://devlibrary.withgoogle.com/products/angular?sort=updated"
            title="DevLibrary do Google"
          >
            DevLibrary do Google
          </a>
        </li>
        <li>
          <a
            href="https://developers.google.com/community/experts/directory?specialization=angular"
            title="Google Developer Experts em Angular"
          >
            Google Developer Experts em Angular
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Recursos</h2>
      <ul>
        <li>
          <a routerLink="/press-kit" title="Contatos de imprensa, logos e marca.">Press Kit</a>
        </li>
        <li>
          <a routerLink="/roadmap" title="Roadmap">Roadmap</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Idiomas</h2>
      <ul>
        <li>
          <a href="https://angular.cn/" title="简体中文版">简体中文版</a>
        </li>
        <li>
          <a href="https://dev.angular.tw/" title="正體中文版">正體中文版</a>
        </li>
        <li>
          <a href="https://angular.jp/" title="日本語版">日本語版</a>
        </li>
        <li>
          <a href="https://angular.kr/" title="한국어">한국어</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="docs-license">
    Turbinado pelo Google ©2010-2025. Código licenciado sob uma
    <a routerLink="/license" title="Texto da licença">Licença estilo MIT</a>
    . Documentação licenciada sob
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    . Construído pelo Angular na v{{angularVersion}}.
  </p>
</div>
